body {
font-family: Arial, sans-serif;
background: #f2f4f8;
margin: 0;
padding: 0;
}
header {
background: #4a6cf7;
color: white;
padding: 20px;
text-align: center;
font-size: 1.6rem;
font-weight: bold;
}
main {
display: flex;
justify-content: center;
padding: 20px;
}
section {
background: white;
padding: 20px;
border-radius: 10px;
width: 95%;
max-width: 600px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form {
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 20px;
}
input, textarea, select {
padding: 20px;
border-radius: 5px;
border: 1px solid #ccc;
font-size: 1rem;
}
button {
padding: 10px;
background: #4a6cf7;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
button:hover {
background: #3858d6;
}
.meta {
background: #eef1f7;
padding: 15px;
border-radius: 8px;
margin-bottom: 10px;
}
.concluida {
background: #c8f7c5;
text-decoration: line-through;
}
.botoes {
display: flex;
gap: 10px;
margin-top: 10px;
}
.ul {
padding: 10px;
min-height: 50px;
}
 element.style {
    color: red;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #4a6cf7;
}
