/* Fundo geral */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, #f0f8ff, #d6ecff);
  color: #333;
  text-align: center;
  padding: 50px;
}

/* Título */
h1 {
  color: #066d3d;
  margin-bottom: 30px;
}

/* Campos de entrada */
label {
  font-weight: bold;
}

input, select {
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #7e2626;
  width: 250px;
  font-size: 16px;
}

br {
  line-height: 2;
}

/* Botão */
button {
  background-color: #088555;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

button:hover {
  background-color: #262d35;
}

/* Resultado */
h2 {
  margin-top: 25px;
  color: #006600;
  font-weight: bold;
}